#{extends 'main.html' /}
#{i18n /}

<div id="container">
    <div id="header">&{'title'}</div>
    <div id="title">
        <span class="arrow"></span>
        <h1>&{'title_long'}</h1>
        <h2>&{'title_sub'}</h2>
    </div>
    <div id="lang">
        <a href="/lang/no"><img src="/public/images/no.png" alt="Norwegian"/></a>
        <a href="/lang/en"><img src="/public/images/us.png" alt="English"/></a>
    </div>
    <div id="content">
        <h3>&{'intro_title'}</h3>
        <p>&{'intro_desc'}</p>
        <h4>&{'instructions_title'}</h4>
        <p>&{'instructions'}</p>
        <h5>&{'static_title'}</h5>
        <table id="data">
            <tr>
                <td>&{'static_val1'}</td>
                <td><img src="/public/images/equation.png" alt="Equation"></td>
            </tr>
            <tr>
                <td>&{'static_val2'}</td>
                <td><span class="data_value">50 mL</span></td>
            </tr>
            <tr>
                <td>&{'static_val3'}</td>
                <td><span class="data_value">0.10 M</span></td>
            </tr>
            <tr>
                <td>&{'static_val4'}</td>
                <td><span class="data_value">0.10 M</span></td>
            </tr>
            <tr>
                <td>&{'static_val5'}</td>
                <td><span class="data_value">0.005 mol</span></td>
            </tr>
        </table>
        <div id="create"></div>
        <div id="dialog">
            <div id="result"></div>
            <div id="input"></div>
            <div id="calculate"></div>
        </div>

        
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src="http://o.aolcdn.com/dojo/1.4/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>