body {
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 10pt;
}

img {
    border: 0;
}

h1 {
    font-size: 12pt;
}

h2, h3, h4 {
    font-size: 10pt;
    text-decoration: underline;
}

div#container {
    width: 700px;
    margin-left:auto;
    margin-right:auto;
}

div#content {
    float: left;
    padding: 15px;
    border: 1px dashed black;
}

table#static_data {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
}

fieldset#values {
    background-color: #fffee0;
}

fieldset#values legend {
    font-weight: bold;
}

fieldset#values label {
    width: 230px;
    float: left;
}

span.static_value {
    background-color: #e3e2e2;
}

br.clear {
    clear: both;
}

div#lang {
    float: right;
}

div.clear {
    clear: both;
}